.image-slider-container {
  position: relative;
  padding: 20px;
  text-align: center;
  width: 90vw;
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border: none;
}

.image-slider-wrapper {
  position: relative;
  display: inline-block;
  width: 100%; /* Full width for responsiveness */
}

.arrowButton {
  width: 40px;
  height: 40px;
  min-width: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.arrowButton:hover {
  background-color: rgba(255, 255, 255, 1);
}

.image-slider-image {
  border-radius: 8px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #1976d2;
}
