.projectSection {
  background: #0e1b25de;
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  min-height: 90vh;
}

.card {
  cursor: pointer;
  position: relative;
  width: 100%;
  background: #576574 !important;
  max-width: 300px;
  height: auto;
  max-height: fit-content;
  perspective: 1000px;
  transition: transform 0.5s;
  border: 1px solid rgb(122, 122, 122);
  display: flex;
  flex-direction: column;
}

.cardContent {
  flex-grow: 1;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
}

.cardReveal {
  transform: rotateY(180deg);
}

.footer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #ddd;
}

.card img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h5 {
  margin-bottom: 8px;
  color: #f3f3f3;
}

.card p {
  color: #dadada;
}

.card a {
  text-decoration: none;
  color: #2196f3;
  transition: color 0.3s;
}

.card a:hover {
  color: #1976d2;
}

.card .footer a {
  color: #e7e7e7;
  text-decoration: none;
  transition: color 0.3s;

  margin: 0 10px;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card .footer a:hover {
  color: #e69010;
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
  .projectSection {
    flex-direction: column;
    justify-content: center;
  }

  .card {
    margin: 0 0 20px 0;
    justify-content: center;
  }
}
