.navStyle{
    display: flex;
    align-items: center;
}
.navLinks {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 15px;
    position: relative; /* Required for pseudo-elements */
}

.navLinks::before,
.navLinks::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    background-color: red; /* Color for the animation */
    transition: width 0.3s ease; /* Adjust the duration and timing function as needed */
}

.navLinks::before {
    left: 0;
}

.navLinks::after {
    right: 0;
}

.navLinks:hover::before,
.navLinks:hover::after,
.active::before,
.active::after {
    width: 100%;
}
